<div>
  <h1 class="header">TASK DETAILS</h1>
</div>

<div class="container">
  <div class="task-details">
    <h1><%= @task.title %></h1>
    <h3><strong>DETAILS: </strong><%= @task.details %></h3>
    <h3><strong>STATUS: </strong><%= @task.completed? ? "Completed" : "Uncompleted" %></h3>
    <br>
    <h5><strong><%= link_to "Edit Task", edit_task_path(@task) %> | <%= link_to "Back", tasks_path %></strong></h5>
  </div>
</div>
